{% extends 'base.html' %}

{% block content %}



    <h1 class="display-5 mt-4">Летим  <span data-test="from">{{ departurename }}</span></h1>
    <p class="mb-4">Найдено <span data-test="tourcount">{{ tourcount }}</span> тура, от <span data-test="pricemin">{{ pricemin }}</span>
        до
        <span data-test="pricemax">{{ pricemax }}</span> и от <span data-test="nightsmin">{{ nightsmin }}</span> ночей
        до <span
                data-test="nightsmax">{{ nightsmax }}</span> ночей</p>
    <!-- HERO -->


    <!-- CARDS -->


    <div class="row mt-5" data-test="cards">
        {% for key, value in tours.items %}
        {% if key in rangeMax %}
        <div class="col-4" data-test="card">
            <div class="card mb-3">
                <img src={{ value.picture }} class="card-img-top img-fluid" data-test="picture" style="height: 15vw">
                <div class="card-body">
                    <h5 class="card-title">{{ value.title }}</h5>
                    <p class="card-text"
                       style="height: 3vw; width: 100%; text-overflow: ellipsis;  white-space: nowrap;  overflow: hidden;">
                        {{ value.description }}</p>
                    <a href="/tour/{{ key }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}