{% extends 'base.html' %}

{% block content %}
    <!-- HERO -->

    <div class="jumbotron text-center mt-4" style="background: url({{ descriptionUrl }}); opacity: 0.7;">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">{{ subtitle }}</p>
        <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </div>

    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">
        {% for key, value in tours.items %}
        {% if key in rangeMax %}
        <div class="col-4" data-test="card">
            <div class="card mb-3">
                <img src={{ value.picture }} class="card-img-top img-fluid" data-test="picture" style="height: 15vw">
                <div class="card-body">
                    <h5 class="card-title">{{ value.title }}</h5>
                    <p class="card-text"
                       style="height: 3vw; width: 100%; text-overflow: ellipsis;  white-space: nowrap;  overflow: hidden;">
                        {{ value.description }}</p>
                    <a href="/tour/{{ key }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}


    </div>

{% endblock %}